In [1]:
import pandas as pd
import numpy as np
import requests
pd.options.display.max_columns=50

In [2]:
import pymongo
from pymongo import MongoClient

In [3]:
#chave API maps
google_maps_key = "AIzaSyCcmEV9PfHNtB_PGPEiYpZZQSQJaKjsV0A"

In [4]:
# conexão MongoDB
client = MongoClient('mongodb+srv://jehtinoco:TI10co29**@clusterjessica.ejf02eq.mongodb.net/test')

In [5]:
# conexão database MongoDB
db=client["dev_roteirizacao"]

### LANDING ZONE

In [ ]:
# caminho das bases .csv 
base_rotas=r"C:\Users\jetin\Documents\FATEC\6° Semestre\bases finais\Rotas.csv"
base_fabricas=r"C:\Users\jetin\Documents\FATEC\6° Semestre\bases finais\Fabricas.csv"
base_clientes=r"C:\Users\jetin\Documents\FATEC\6° Semestre\bases finais\Clientes.csv"

In [ ]:
# dicionário de tipos
dict_type_rotas={'Mes.Base':str,
                 'Ano.Exec':str,
                 'CO.Fabrica':str,
                 'CO.Cliente':str,
                 'Tp.Operacao':str,
                 'Incoterm':str,
                 'Veiculo':str,
                 'Qtd.Transp':int,
                 'Moeda':str,
                 'Vlr.Frete':float }

dict_type_fabricas={'CO.Fabrica':str,
                    'NO_MUN':str,
                    'NO_MUN_MIN':str,
                    'SG_UF':str,
                    'LAT':str,
                    'LONG':str }

dict_type_clientes={'CO.Cliente':str,
                    'MUN':str,
                    'LAT':str,
                    'LONG':str }

In [ ]:
# lendo as bases csv
df_rotas=pd.read_csv(base_rotas, sep=";", dtype=dict_type_rotas)

In [ ]:
df_fabricas=pd.read_csv(base_fabricas, sep=",", dtype=dict_type_fabricas, encoding = 'latin1')

In [ ]:
df_clientes=pd.read_csv(base_clientes, sep=",", dtype=dict_type_clientes)

### BRONZE

In [ ]:
# renomeando as bases
dict_rename_rotas={'Dt.Fatura':'data_faturamento',
                   'Dt.Entrega':'data_entrega',
                   'Mes.Base':'mes',
                   'Ano.Exec':'ano',
                   'CO.Fabrica':'cod_fabrica',
                   'CO.Cliente':'cod_cliente',
                   'Tp.Operacao':'tipo_operacao',
                   'Incoterm':'incoterm',
                   'Veiculo':'veiculo',
                   'Qtd.Transp':'qtd_transportada',
                   'Moeda':'moeda',
                   'Vlr.Frete':'valor_frete' }

dict_rename_fabricas={'CO.Fabrica':'cod_fabrica',
                      'NO_MUN':'mun_fabrica',
                      'NO_MUN_MIN':'mun_fabrica_min',
                      'SG_UF':'uf_fabrica',
                      'LAT':'lat_fabrica',
                      'LONG':'long_fabrica'  }

dict_rename_clientes={'CO.Cliente':'cod_cliente',
                      'MUN':'mun_cliente',
                      'LAT':'lat_cliente',
                      'LONG':'long_cliente' }

In [ ]:
# renomeando as bases
df_rotas=df_rotas.rename(columns=dict_rename_rotas)
df_fabricas=df_fabricas.rename(columns=dict_rename_fabricas)
df_clientes=df_clientes.rename(columns=dict_rename_clientes)

In [ ]:
# mudando tipo data
df_rotas['data_faturamento'] = pd.to_datetime(df_rotas['data_faturamento'], format='%d/%m/%Y')
df_rotas['data_entrega'] = pd.to_datetime(df_rotas['data_entrega'], format='%d/%m/%Y')

In [ ]:
# gravando bronze no MongoDB
collection = db["rotas_bronze"]
rotas_bronze= df_rotas.to_dict(orient='records')
collection.insert_many(rotas_bronze)

In [ ]:
# gravando bronze no MongoDB
collection = db["fabricas_bronze"]
fabricas_bronze= df_fabricas.to_dict(orient='records')
collection.insert_many(fabricas_bronze)

In [ ]:
# gravando bronze no MongoDB
collection = db["clientes_bronze"]
clientes_bronze= df_clientes.to_dict(orient='records')
collection.insert_many(clientes_bronze)

### SILVER

In [ ]:
#chamando as collections no MongoDB
coll_rotas=db["rotas_bronze"]
coll_clientes=db["clientes_bronze"]
coll_fabricas=db["fabricas_bronze"]

In [ ]:
# pipeline para escolha dos campos para base silver
pipe_rotas = [{'$project':{'_id':0, 
                           'data_faturamento':1,
                           'data_entrega':1,
                           'mes':1,
                           'ano':1,
                           'cod_fabrica':1,
                           'cod_cliente':1,
                           'tipo_operacao':1,
                           'incoterm':1,
                           'veiculo':1,
                           'qtd_transportada':1,
                           'moeda':1,
                           'valor_frete':1 }}]

pipe_fabricas = [{'$project':{'_id':0, 
                              'cod_fabrica':1,
                              'mun_fabrica':1,                              
                              'lat_fabrica':1,
                              'long_fabrica':1 }}]

pipe_clientes = [{'$project':{'_id':0,
                              'cod_cliente':1,
                              'mun_cliente':1,
                              'lat_cliente':1,
                              'long_cliente':1  }}]

In [ ]:
# guardando em um cursor
cursor_rotas=coll_rotas.aggregate(pipe_rotas)
cursor_fabricas=coll_fabricas.aggregate(pipe_fabricas)
cursor_clientes=coll_clientes.aggregate(pipe_clientes)

In [ ]:
# guardando em listas
list_rotas=list(cursor_rotas)
list_fabricas=list(cursor_fabricas)
list_clientes=list(cursor_clientes)

In [ ]:
# guardando em dataframes
df_rotas=pd.DataFrame(list_rotas)
df_fabricas=pd.DataFrame(list_fabricas)
df_clientes=pd.DataFrame(list_clientes)

In [ ]:
# enriquecimento da base rotas com a clientes e fabricas
df_merge=pd.merge(pd.merge(df_rotas, df_clientes, how="outer", on="cod_cliente"), df_fabricas, how="outer", on="cod_fabrica")

In [ ]:
# realocação das colunas
df_merge.insert(11,'cod_cliente', df_merge.pop('cod_cliente'))
df_merge.insert(14,'cod_fabrica', df_merge.pop('cod_fabrica'))

In [ ]:
# criando quantidade transportada em valor absoluto e string
df_merge['qtd_transportada_abs']= abs(df_merge['qtd_transportada'])
df_merge['qtd_transportada_abs_str'] = df_merge['qtd_transportada_abs'].astype(str)

In [ ]:
# criando valor frete string
df_merge['valor_frete_str'] = df_merge['valor_frete'].astype(str)

In [ ]:
# concatenando strings e criando cod-nome e rota (fabrica-cliente) 
df_merge['cod_mun_cliente']=df_merge['cod_cliente']+' - '+df_merge['mun_cliente']
df_merge['cod_mun_fabrica']=df_merge['cod_fabrica']+' - '+df_merge['mun_fabrica']
df_merge['rota']=df_merge['mun_fabrica']+' - '+df_merge['incoterm']+' - '+df_merge['mun_cliente']

In [ ]:
# concatenando strings e criando lat-long das fabricas e clientes
df_merge['loc_cliente']=df_merge['lat_cliente']+','+df_merge['long_cliente']
df_merge['loc_fabrica']=df_merge['lat_fabrica']+','+df_merge['long_fabrica']

In [ ]:
# criação de um dataframe de rotas com lat-long da origem-destino
df_rota_lat_long=df_merge[['rota', 'loc_cliente', 'loc_fabrica']].drop_duplicates().reset_index(drop=True)

In [ ]:
df_rota_lat_long

In [ ]:
#df_rota_lat_long.loc[df_rota_lat_long['incoterm']=='CIF']

In [ ]:
# consulta na API Google para calcular a distância e tempo das rotas

def get_route_info(origin, destination, google_maps_key):
    url = 'https://maps.googleapis.com/maps/api/directions/json'
    params = {
        'origin': origin,
        'destination': destination,
        'key': google_maps_key
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        route = response.json()['routes'][0]['legs'][0]
        distance = route['distance']['value'] / 1000.0
        duration = route['duration']['value'] / 60.0
        return distance, duration
    else:
        return None, None

In [ ]:
# criação de listas vazias de distancia e tempo para API preencher
distances = []
durations = []

In [ ]:
%%time

# consulta linha a linha do dataframe de rotas
for index, row in df_rota_lat_long.iterrows():
    origin = row['loc_fabrica']
    destination = row['loc_cliente']
    distance, duration = get_route_info(origin, destination, google_maps_key)
    distances.append(distance)
    durations.append(duration)

In [ ]:
# criação das colunas quilometragem e tempo de viagem
df_rota_lat_long['quilometragem'] = distances
df_rota_lat_long['tempo_viagem_min'] = durations

In [ ]:
df_rota_lat_long

In [ ]:
# merge entre o dataframe com quilometragem e tempo de vaigame com a base rotas enriquecida
df_rotas_silver=pd.merge(df_merge, df_rota_lat_long, how="left", on=['rota','loc_cliente','loc_fabrica'])

In [ ]:
df_rotas_silver[['rota','quilometragem', 'tempo_viagem_min', 'valor_frete']]

In [ ]:
df_rotas_silver.head()

#### VALIDADOR
##### Silver OK e Silver NOK

In [ ]:
# regra de data de faturamento < data de entrega (se false, data inconsistente)
df_rotas_silver['flag_dt_consist']=df_rotas_silver["data_faturamento"]<df_rotas_silver["data_entrega"]

In [ ]:
df_rotas_silver.head()

In [ ]:
# contagem da flag de inconsistência de data 
df_rotas_silver['flag_dt_consist'].value_counts()

In [ ]:
# gravando em um dataframe as inconsistências para análise
df_dt_inconsit = df_rotas_silver.loc[~df_rotas_silver['flag_dt_consist']]

In [ ]:
# separação das colunas utilizadas para análise
df_dt_inconsit = df_dt_inconsit[['data_faturamento', 'data_entrega', 'mes', 'ano' ]]

In [ ]:
df_dt_inconsit.head()

In [ ]:
# regra de data de FOB != 0 (se false, FOB com valor > 0)
df_rotas_silver.loc[(df_rotas_silver['incoterm']=='FOB') & (df_rotas_silver['valor_frete'] > 0), 'flag_incoterm_valor_consist'] = False
df_rotas_silver['flag_incoterm_valor_consist'].fillna(True, inplace=True)

In [ ]:
# contagem da flag de inconsistência FOB
df_rotas_silver['flag_incoterm_valor_consist'].value_counts()

In [ ]:
# gravando em um dataframe as inconsistências para análise
df_incoterm_inconsit = df_rotas_silver.loc[~df_rotas_silver['flag_incoterm_valor_consist']]

In [ ]:
# separação das colunas utilizadas para análise
df_incoterm_inconsit = df_incoterm_inconsit[['incoterm', 'valor_frete', 'flag_incoterm_valor_consist' ]]

In [ ]:
df_incoterm_inconsit.head()

In [ ]:
# valores encontrados dentro das inconsistências
df_incoterm_inconsit['valor_frete'].unique()

In [ ]:
# concatenando strings e criando uma coluna rota-tipo_operação-incoterm-qtd_transportada-valor_frete
df_rotas_silver['rota_qtd_valor']=df_rotas_silver['rota'] +' - '+ df_rotas_silver['qtd_transportada_abs_str'] +' - '+ df_rotas_silver['valor_frete_str']

In [ ]:
df_rotas_silver.head(2)

In [ ]:
# salvando uma rota em um novo datafram para verificação
df_ITU_SP = df_rotas_silver.loc[df_rotas_silver["rota"]=='ITU - CIF - SAO PAULO', 'rota_qtd_valor']

In [ ]:
df_ITU_SP.head()

In [ ]:
# verificando as rotas ITU - CIF - SAO PAULO 
df_ITU_SP.value_counts()

In [ ]:
# gravando SILVER NOK no MongoDB ( df_dt_inconsit )
collection = db["dt_inconsit_silver_nok"]
dt_inconsit_silver_nok= df_dt_inconsit.to_dict(orient='records')
collection.insert_many(dt_inconsit_silver_nok)

In [ ]:
# gravando SILVER NOK no MongoDB ( df_incoterm_inconsit )
collection = db["incoterm_inconsit_silver_nok"]
incoterm_inconsit_silver_nok= df_incoterm_inconsit.to_dict(orient='records')
collection.insert_many(incoterm_inconsit_silver_nok)

In [ ]:
df_rotas_silver.head(2)

In [ ]:
# gravando SILVER OK no MongoDB
collection = db["rotas_silver"]
rotas_silver= df_rotas_silver.to_dict(orient='records')
collection.insert_many(rotas_silver)

In [ ]:
df_rotas_silver.to_csv('rotas_silver.csv', index=False)

### Agrupando a quantidade transportada de VD anual de cada cliente

In [ ]:
#Agrupamento anual por tipo de operação, cliente e soma da qtda_transportada
chave_rotas_cli=['ano','tipo_operacao','cod_cliente','lat_cliente', 'long_cliente']
var_int_rotas_cli=['qtd_transportada']

df_rotas_agrup_cli=df_rotas_silver.groupby(chave_rotas_cli)[var_int_rotas_cli].sum().reset_index()

In [ ]:
df_rotas_agrup_cli

In [ ]:
df_rotas_agrup_cli['tipo_operacao'].value_counts()

In [ ]:
#Separando somente as VD para determinar a demanda anual de cada cliente
df_rotas_agrup_cli=df_rotas_agrup_cli.loc[df_rotas_agrup_cli['tipo_operacao']=='VD']

In [ ]:
df_rotas_agrup_cli.head()

### Agrupando a quantidade transportada de VD mensal de cada fabrica

In [ ]:
#Agrupamento mes, ano por tipo de operação, fabrica e soma da qtda_transportada
chave_rotas_fab=['mes','ano','tipo_operacao','cod_fabrica','lat_fabrica', 'long_fabrica']
var_int_rotas_fab=['qtd_transportada']

df_rotas_agrup_fab=df_rotas_silver.groupby(chave_rotas_fab)[var_int_rotas_fab].sum().reset_index()

In [ ]:
df_rotas_agrup_fab.head()

In [ ]:
df_rotas_agrup_fab['tipo_operacao'].value_counts()

In [ ]:
#Separando somente as VD para determinar a demanda anual de cada cliente
df_rotas_agrup_fab=df_rotas_agrup_fab.loc[df_rotas_agrup_fab['tipo_operacao']=='VD']

In [ ]:
df_rotas_agrup_fab.head()

In [ ]:
df_rotas_agrup.to_csv('rotas_agrup_vd_qtd.csv', index=False)

### Analise de correlação distância, tempo, quantidade e valor frete

In [ ]:
df_rotas_silver.head(2)

In [ ]:
df_rotas_silver['tipo_operacao'].value_counts()

In [ ]:
df_rotas_vd_cli=df_rotas_silver.loc[df_rotas_silver['tipo_operacao']=='VD']

In [ ]:
df_rotas_vd_cli['incoterm'].value_counts()

In [ ]:
df_rotas_vd_cli=df_rotas_vd_cli.loc[df_rotas_vd_cli['incoterm']=='CIF']

In [ ]:
df_rotas_vd_cli

In [ ]:
df_rotas_vd_cli[['quilometragem', 'tempo_viagem_min', 'qtd_transportada', 'valor_frete']].corr()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(x=df_rotas_vd_cli['quilometragem'], y=df_rotas_vd_cli['valor_frete'])

In [ ]:
df_rotas_vd_cli.to_csv('df_rotas_vd_cli.csv', index=False)

### GOLD

In [6]:
#chamando as collections no MongoDB
coll_rotas_ok=db['rotas_silver']

In [7]:
# pipeline para escolha dos campos para base silver
pipe_rotas_ok = [{'$project':{'_id':0, 
                              'data_faturamento':1,
                              'data_entrega':1,
                              'mes':1,
                              'ano':1,
                              'tipo_operacao':1,
                              'incoterm':1,
                              'veiculo':1,
                              'qtd_transportada':1,
                              'valor_frete':1, 
                              'mun_cliente':1,
                              'lat_cliente':1,
                              'long_cliente':1,
                              'mun_fabrica':1,
                              'lat_fabrica':1,                     
                              'long_fabrica':1,                
                              'qtd_transportada_abs':1,         
                              'cod_mun_cliente':1,                     
                              'cod_mun_fabrica':1,                             
                              'rota':1,                           
                              'quilometragem':1,
                              'tempo_viagem_min':1,
                              'flag_dt_consist':1,                 
                              'flag_incoterm_valor_consist':1,                            
                              'rota_qtd_valor':1 }}]

In [8]:
# guardando em um cursor
cursor_rotas_ok=coll_rotas_ok.aggregate(pipe_rotas_ok)

In [9]:
# guardando em lista
list_rotas_ok=list(cursor_rotas_ok)

In [10]:
# guardando em dataframe
df_rotas_silver=pd.DataFrame(list_rotas_ok)

In [11]:
df_rotas_silver.head(2)

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,valor_frete,mun_cliente,lat_cliente,long_cliente,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,cod_mun_cliente,cod_mun_fabrica,rota,quilometragem,tempo_viagem_min,flag_dt_consist,flag_incoterm_valor_consist,rota_qtd_valor
0,2021-01-27,2021-01-31,Jan,2021,VD,CIF,P12,1600,400.0,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0
1,2021-01-02,2021-01-07,Jan,2021,VD,CIF,P12,1600,400.0,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0

In [12]:
df_rotas_silver['custo/km']=df_rotas_silver['valor_frete']/df_rotas_silver['quilometragem']

In [13]:
df_rotas_silver['custo/tempo_min']=df_rotas_silver['valor_frete']/df_rotas_silver['tempo_viagem_min']

In [14]:
df_rotas_silver['custo/unid']=df_rotas_silver['valor_frete']/df_rotas_silver['qtd_transportada_abs']

In [15]:
df_rotas_silver.head()

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,valor_frete,mun_cliente,lat_cliente,long_cliente,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,cod_mun_cliente,cod_mun_fabrica,rota,quilometragem,tempo_viagem_min,flag_dt_consist,flag_incoterm_valor_consist,rota_qtd_valor,custo/km,custo/tempo_min,custo/unid
0,2021-01-27,2021-01-31,Jan,2021,VD,CIF,P12,1600,400.0,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0,3.928810,4.336827,0.250000
1,2021-01-02,2021-01-07,Jan,2021,VD,CIF,P12,1600,400.0,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0,3.928810,4.336827,0.250000
2,2021-01-17,2021-01-20,Jan,2021,VD,CIF,P12,1600,400.0,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0,3.928810,4.336827,0.250000
3,2021-01-28,2021-02-02,Jan,2021,VD,CIF,P24,2800,400.0,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,2800,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 2800 - 400.0,3.928810,4.336827,0.142857
4,2021-01-27,2021-01-31,Jan,2021,VD,CIF,P24,3000,360.0,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,3000,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 3000 - 360.0,3.535929,3.903144,0.120000

In [16]:
df_rotas_silver['custo/km_fabrica_itu']=df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ITU')]['valor_frete'].sum()/df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ITU')]['quilometragem'].sum()
df_rotas_silver['custo/unid_fabrica_itu']=df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ITU')]['valor_frete'].sum()/df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ITU')]['qtd_transportada_abs'].sum()

In [17]:
df_rotas_silver['custo/km_fabrica_jacarei']=df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='JACAREI')]['valor_frete'].sum()/df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='JACAREI')]['quilometragem'].sum()
df_rotas_silver['custo/unid_fabrica_jacarei']=df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='JACAREI')]['valor_frete'].sum()/df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='JACAREI')]['qtd_transportada_abs'].sum()

In [18]:
df_rotas_silver['custo/km_fabrica_araraquara']=df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ARARAQUARA')]['valor_frete'].sum()/df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ARARAQUARA')]['quilometragem'].sum()
df_rotas_silver['custo/unid_fabrica_araraquara']=df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ARARAQUARA')]['valor_frete'].sum()/df_rotas_silver.loc[(df_rotas_silver['incoterm']=='CIF') & (df_rotas_silver['mun_fabrica']=='ARARAQUARA')]['qtd_transportada_abs'].sum()

In [19]:
df_rotas_silver['global_custo/km_fabrica']=(df_rotas_silver['custo/km_fabrica_itu']+df_rotas_silver['custo/km_fabrica_jacarei']+df_rotas_silver['custo/km_fabrica_araraquara'])/3
df_rotas_silver['global_custo/unid_fabrica']=(df_rotas_silver['custo/unid_fabrica_itu']+df_rotas_silver['custo/unid_fabrica_jacarei']+df_rotas_silver['custo/unid_fabrica_araraquara'])/3

In [20]:
df_rotas_silver

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,valor_frete,mun_cliente,lat_cliente,long_cliente,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,cod_mun_cliente,cod_mun_fabrica,rota,quilometragem,tempo_viagem_min,flag_dt_consist,flag_incoterm_valor_consist,rota_qtd_valor,custo/km,custo/tempo_min,custo/unid,custo/km_fabrica_itu,custo/unid_fabrica_itu,custo/km_fabrica_jacarei,custo/unid_fabrica_jacarei,custo/km_fabrica_araraquara,custo/unid_fabrica_araraquara,global_custo/km_fabrica,global_custo/unid_fabrica
0,2021-01-27,2021-01-31,Jan,2021,VD,CIF,P12,1600,400.00,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0,3.928810,4.336827,0.250000,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
1,2021-01-02,2021-01-07,Jan,2021,VD,CIF,P12,1600,400.00,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0,3.928810,4.336827,0.250000,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
2,2021-01-17,2021-01-20,Jan,2021,VD,CIF,P12,1600,400.00,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,1600,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 1600 - 400.0,3.928810,4.336827,0.250000,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
3,2021-01-28,2021-02-02,Jan,2021,VD,CIF,P24,2800,400.00,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,2800,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 2800 - 400.0,3.928810,4.336827,0.142857,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
4,2021-01-27,2021-01-31,Jan,2021,VD,CIF,P24,3000,360.00,SAO PAULO,-23.47084,-46.64965,ITU,-23.25178418,-47.3439079,3000,2310 - SAO PAULO,3423909 - ITU,ITU - CIF - SAO PAULO,101.812,92.233333,True,True,ITU - CIF - SAO PAULO - 3000 - 360.0,3.535929,3.903144,0.120000,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119181,2021-10-04,2021-10-07,Out,2021,VD,CIF,P12,1600,576.00,SOROCABA,-23.49563,-47.51121,JACAREI,-23.28713588,-45.9849763,1600,2345 - SOROCABA,3424402 - JACAREI,JACAREI - CIF - SOROCABA,178.778,152.733333,True,True,JACAREI - CIF - SOROCABA - 1600 - 576.0,3.221873,3.771279,0.360000,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
119182,2021-11-17,2021-11-21,Nov,2021,VD,CIF,P24,2400,596.16,SOROCABA,-23.49563,-47.51121,JACAREI,-23.28713588,-45.9849763,2400,2345 - SOROCABA,3424402 - JACAREI,JACAREI - CIF - SOROCABA,178.778,152.733333,True,True,JACAREI - CIF - SOROCABA - 2400 - 596.16,3.334638,3.903274,0.248400,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
119183,2021-11-03,2021-11-08,Nov,2021,VD,CIF,P12,1800,712.80,SOROCABA,-23.49563,-47.51121,JACAREI,-23.28713588,-45.9849763,1800,2345 - SOROCABA,3424402 - JACAREI,JACAREI - CIF - SOROCABA,178.778,152.733333,True,True,JACAREI - CIF - SOROCABA - 1800 - 712.8,3.987068,4.666958,0.396000,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
119184,2021-12-02,2021-12-03,Dez,2021,VD,CIF,P24,3000,562.50,SOROCABA,-23.49563,-47.51121,JACAREI,-23.28713588,-45.9849763,3000,2345 - SOROCABA,3424402 - JACAREI,JACAREI - CIF - SOROCABA,178.778,152.733333,True,True,JACAREI - CIF - SOROCABA - 3000 - 562.5,3.146360,3.682890,0.187500,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422
119185,2021-12-05,2021-12-08,Dez,2021,VD,CIF,P12,1600,576.00,SOROCABA,-23.49563,-47.51121,JACAREI,-23.28713588,-45.9849763,1600,2345 - SOROCABA,3424402 - JACAREI,JACAREI - CIF - SOROCABA,178.778,152.733333,True,True,JACAREI - CIF - SOROCABA - 1600 - 576.0,3.221873,3.771279,0.360000,3.509485,0.266001,3.44596,0.286101,3.510437,0.430162,3.488627,0.327422

In [ ]:
df_rotas_silver.to_csv('rotas_gold.csv', index=False)

### Separando base para DEA

In [23]:
df_rotas_dea=df_rotas_silver[['cod_mun_cliente', 'tipo_operacao', 'valor_frete', 'qtd_transportada_abs']]

In [26]:
df_rotas_dea_vd=df_rotas_dea.loc[df_rotas_dea['tipo_operacao']=='VD']

In [28]:
df_rotas_dea_dv=df_rotas_dea.loc[df_rotas_dea['tipo_operacao']=='DV']

In [32]:
df_rotas_dea_vd['cod_mun_cliente'].value_counts()

2332 - SAO PAULO                3484
2327 - SAO PAULO                2578
2301 - VALINHOS                 2504
2320 - SAO PAULO                2419
2309 - AMERICANA                2416
2311 - PIRACICABA               2396
2302 - CAMPINAS                 2281
2324 - SAO PAULO                2230
2329 - SAO BERNARDO DO CAMPO    2221
2330 - MAUA                     2202
2305 - CAMPINAS                 2185
2307 - CAMPINAS                 2010
2328 - SAO PAULO                2008
2331 - OSASCO                   1979
2303 - CAMPINAS                 1856
2326 - COTIA                    1847
2312 - JACAREI                  1703
2333 - SAO PAULO                1698
2351 - BAURU                    1695
2325 - SAO PAULO                1680
2349 - RIBEIRAO PRETO           1678
2314 - SAO JOSE DOS CAMPOS      1664
2321 - SAO PAULO                1651
2323 - SAO PAULO                1634
2347 - RIBEIRAO PRETO           1584
2315 - SAO JOSE DOS CAMPOS      1569
2335 - SANTANA DE PARNAIBA      1518
2308 - CAMPINAS                 1504
2316 - SAO JOSE DOS CAMPOS      1450
2350 - BAURU                    1401
2310 - SAO PAULO                1381
2313 - SAO JOSE DOS CAMPOS      1378
2319 - SAO PAULO                1292
2343 - PINDAMONHANGABA          1265
2348 - RIBEIRAO PRETO           1231
2340 - TAUBATE                  1225
2334 - SANTANA DE PARNAIBA      1214
2322 - SAO PAULO                1206
2317 - SAO JOSE DOS CAMPOS      1169
2339 - TAUBATE                  1130
2346 - SOROCABA                 1100
2342 - CACAPAVA                 1076
2337 - SAO CARLOS               1051
2318 - SAO JOSE DOS CAMPOS      1032
2306 - VALINHOS                 1009
2344 - SOROCABA                  850
2341 - CACAPAVA                  842
2304 - CAMPINAS                  821
2345 - SOROCABA                  764
2338 - SAO CARLOS                748
2336 - SAO CARLOS                521
Name: cod_mun_cliente, dtype: int64

In [33]:
#Agrupamento rotas VD,clienten e soma do vaor frete e qtda_transportada
chave_rotas_dea_vd=['cod_mun_cliente','tipo_operacao']
var_int_rotas_dea_vd=['valor_frete','qtd_transportada_abs']

df_rotas_agrup_dea_vd=df_rotas_dea_vd.groupby(chave_rotas_dea_vd)[var_int_rotas_dea_vd].sum().reset_index()

In [34]:
df_rotas_agrup_dea_vd.to_excel('rotas_dea_vd.xlsx', index=False)

In [35]:
df_rotas_dea_dv['cod_mun_cliente'].value_counts()

2332 - SAO PAULO                1361
2301 - VALINHOS                 1227
2309 - AMERICANA                1123
2311 - PIRACICABA               1114
2320 - SAO PAULO                1084
2327 - SAO PAULO                1035
2330 - MAUA                     1025
2302 - CAMPINAS                 1002
2329 - SAO BERNARDO DO CAMPO     983
2307 - CAMPINAS                  967
2324 - SAO PAULO                 964
2305 - CAMPINAS                  962
2328 - SAO PAULO                 940
2331 - OSASCO                    933
2326 - COTIA                     913
2303 - CAMPINAS                  877
2321 - SAO PAULO                 792
2323 - SAO PAULO                 784
2312 - JACAREI                   783
2351 - BAURU                     783
2315 - SAO JOSE DOS CAMPOS       782
2333 - SAO PAULO                 773
2325 - SAO PAULO                 764
2349 - RIBEIRAO PRETO            750
2335 - SANTANA DE PARNAIBA       747
2347 - RIBEIRAO PRETO            745
2308 - CAMPINAS                  740
2310 - SAO PAULO                 721
2314 - SAO JOSE DOS CAMPOS       720
2316 - SAO JOSE DOS CAMPOS       650
2343 - PINDAMONHANGABA           644
2350 - BAURU                     632
2348 - RIBEIRAO PRETO            624
2322 - SAO PAULO                 615
2334 - SANTANA DE PARNAIBA       611
2319 - SAO PAULO                 600
2313 - SAO JOSE DOS CAMPOS       598
2340 - TAUBATE                   591
2339 - TAUBATE                   528
2346 - SOROCABA                  523
2306 - VALINHOS                  510
2318 - SAO JOSE DOS CAMPOS       509
2342 - CACAPAVA                  491
2317 - SAO JOSE DOS CAMPOS       479
2337 - SAO CARLOS                472
2338 - SAO CARLOS                439
2344 - SOROCABA                  431
2304 - CAMPINAS                  415
2341 - CACAPAVA                  399
2345 - SOROCABA                  371
2336 - SAO CARLOS                310
Name: cod_mun_cliente, dtype: int64

In [37]:
#Agrupamento rotas VD,clienten e soma do vaor frete e qtda_transportada
chave_rotas_dea_dv=['cod_mun_cliente','tipo_operacao']
var_int_rotas_dea_dv=['valor_frete','qtd_transportada_abs']

df_rotas_agrup_dea_dv=df_rotas_dea_dv.groupby(chave_rotas_dea_dv)[var_int_rotas_dea_dv].sum().reset_index()

In [38]:
df_rotas_agrup_dea_dv.to_excel('rotas_dea_dv.xlsx', index=False)

In [ ]:
# gravando bronze no MongoDB
collection = db["rotas_gold"]
rotas_gold= df_rotas_ok.to_dict(orient='records')
collection.insert_many(rotas_gold)