In [1]:
import pandas as pd
import numpy as np

In [2]:
import pymongo
from pymongo import MongoClient

In [3]:
client = MongoClient('mongodb+srv://jehtinoco:TI10co29**@clusterjessica.ejf02eq.mongodb.net/test')

In [4]:
db=client["dev_roteirizacao"]

In [5]:
coll_rotas=db["rotas_bronze"]
coll_cliente=db["cliente_bronze"]
coll_fabrica=db["fabrica_bronze"]

In [ ]:
#pipeline = [{'$project': {'_id': 0, 'column1': 1, 'column2': 1}}]

#result = collection.aggregate(pipeline)

In [60]:
pipe_fabrica = [{'$project':{'_id':0, 
                             'CO_Fabrica':1,
                             'NO_MUN':1,
                             'SG_UF':1 }}]

pipe_cliente = [{'$project':{'_id':0,
                             'CO_Cliente': 1,
                             'MUN': 1,
                             'LAT': 1,
                             'LONG': 1 }}]

pipe_rotas = [{'$project':{'_id':0, 
                           'Dt_Fat':1,
                           'Dt_Entrega': 1,
                           'Mes_Base': 1,
                           'Ano_Exec': 1,
                           'CO_Fabrica': 1,
                           'CO_Cliente': 1,
                           'Tp_Operacao': 1,
                           'Incoterm': 1,
                           'Veiculo': 1,
                           'Qtd_Transp': 1,
                           'Moeda': 1,
                           'Vlr_Frete': 1 }}]

In [61]:
cursor_fabrica=coll_fabrica.aggregate(pipe_fabrica)
cursor_cliente=coll_cliente.aggregate(pipe_cliente)
cursor_rotas=coll_rotas.aggregate(pipe_rotas)

In [62]:
list_fabrica=list(cursor_fabrica)
list_cliente=list(cursor_cliente)
list_rotas=list(cursor_rotas)

In [63]:
df_fabrica=pd.DataFrame(list_fabrica)
df_cliente=pd.DataFrame(list_cliente)
df_rotas=pd.DataFrame(list_rotas)

In [64]:
df_fabrica.head()

  CO_Fabrica      NO_MUN SG_UF
0    3424402     JACAREI    SP
1    3403208  ARARAQUARA    SP
2    3423909         ITU    SP

In [65]:
df_rotas.head(3)

,Dt_Fat,Dt_Entrega,Mes_Base,Ano_Exec,CO_Fabrica,CO_Cliente,Tp_Operacao,Incoterm,Veiculo,Qtd_Transp,Moeda,Vlr_Frete
0,2021-01-15,2021-01-20,Jan,2021,3424402,2314,VD,FOB,P12,1600.0,BRL,0.0
1,2021-01-16,2021-01-24,Jan,2021,3424402,2332,VD,FOB,P12,1600.0,BRL,0.0
2,2021-01-14,2021-01-22,Jan,2021,3403208,2302,VD,FOB,P12,1600.0,BRL,0.0

In [66]:
df_cliente.head(3)

  CO_Cliente       MUN       LAT      LONG
0       2341  CACAPAVA -23.07223 -45.71227
1       2303  CAMPINAS -22.92634 -47.03974
2       2306  VALINHOS -22.97509 -47.01478

In [67]:
df_merge=pd.merge(pd.merge(df_rotas, df_cliente, how="outer", on="CO_Cliente"), df_fabrica, how="outer", on="CO_Fabrica")

In [68]:
df_merge.head(2)

,Dt_Fat,Dt_Entrega,Mes_Base,Ano_Exec,CO_Fabrica,CO_Cliente,Tp_Operacao,Incoterm,Veiculo,Qtd_Transp,Moeda,Vlr_Frete,MUN,LAT,LONG,NO_MUN,SG_UF
0,2021-01-15,2021-01-20,Jan,2021,3424402,2314,VD,FOB,P12,1600.0,BRL,0.0,SAOJOSEDOSCAMPOS,-23.22869,-45.90797,JACAREI,SP
1,2021-01-01,2021-01-08,Jan,2021,3424402,2314,VD,FOB,P12,1800.0,BRL,0.0,SAOJOSEDOSCAMPOS,-23.22869,-45.90797,JACAREI,SP

In [72]:
dict_rename={'Dt_Fat': 'dt_faturamento',
             'Dt_Entrega': 'dt_entrega',
             'Mes_Base': 'mes',
             'Ano_Exec': 'ano',
             'CO_Fabrica':'cod_fabrica',
             'CO_Cliente':'cod_cliente',
             'Tp_Operacao':'tp_operacao',
             'Incoterm':'tp_frete',
             'Veiculo':'tp_veiculo',
             'Qtd_Transp':'qtd_transportada',
             'Moeda':'tp_moeda',
             'Vlr_Frete':'valor_frete',
             'MUN':'nome_mun_cliente',
             'LAT':'lat_mun_cliente',
             'LONG':'long_mun_cliente',
             'NO_MUN':'nome_mun_fabrica',
             'SG_UF':'uf_fabrica' }

In [85]:
df_rotas_silver = df_merge.rename(columns=dict_rename)

In [91]:
df_rotas_silver.insert(5,'nome_mun_fabrica', df_rotas_silver.pop('nome_mun_fabrica'))
df_rotas_silver.insert(6,'uf_fabrica', df_rotas_silver.pop('uf_fabrica'))
df_rotas_silver.insert(8,'nome_mun_cliente', df_rotas_silver.pop('nome_mun_cliente'))
df_rotas_silver.insert(9,'lat_mun_cliente', df_rotas_silver.pop('lat_mun_cliente'))
df_rotas_silver.insert(10,'long_mun_cliente', df_rotas_silver.pop('long_mun_cliente'))

In [94]:
df_rotas_silver.head()

,dt_faturamento,dt_entrega,mes,ano,cod_fabrica,nome_mun_fabrica,uf_fabrica,cod_cliente,nome_mun_cliente,lat_mun_cliente,long_mun_cliente,tp_operacao,tp_frete,tp_veiculo,qtd_transportada,tp_moeda,valor_frete
0,2021-01-15,2021-01-20,Jan,2021,3424402,JACAREI,SP,2314,SAOJOSEDOSCAMPOS,-23.22869,-45.90797,VD,FOB,P12,1600.0,BRL,0.0
1,2021-01-01,2021-01-08,Jan,2021,3424402,JACAREI,SP,2314,SAOJOSEDOSCAMPOS,-23.22869,-45.90797,VD,FOB,P12,1800.0,BRL,0.0
2,2021-01-10,2021-01-20,Jan,2021,3424402,JACAREI,SP,2314,SAOJOSEDOSCAMPOS,-23.22869,-45.90797,VD,FOB,P12,1800.0,BRL,0.0
3,2021-01-02,2021-01-01,Jan,2021,3424402,JACAREI,SP,2314,SAOJOSEDOSCAMPOS,-23.22869,-45.90797,VD,FOB,P12,1200.0,BRL,0.0
4,2021-01-16,2021-01-18,Jan,2021,3424402,JACAREI,SP,2314,SAOJOSEDOSCAMPOS,-23.22869,-45.90797,VD,FOB,P12,1200.0,BRL,0.0

In [95]:
df_rotas_silver.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120000 entries, 0 to 119999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   dt_faturamento    120000 non-null  datetime64[ns]
 1   dt_entrega        120000 non-null  datetime64[ns]
 2   mes               120000 non-null  object
 3   ano               119996 non-null  object
 4   cod_fabrica       119991 non-null  object
 5   nome_mun_fabrica  119987 non-null  object
 6   uf_fabrica        119987 non-null  object
 7   cod_cliente       120000 non-null  object
 8   nome_mun_cliente  105909 non-null  object
 9   lat_mun_cliente   120000 non-null  float64
 10  long_mun_cliente  120000 non-null  float64
 11  tp_operacao       120000 non-null  object
 12  tp_frete          120000 non-null  object
 13  tp_veiculo        120000 non-null  object
 14  qtd_transportada  120000 non-null  float64
 15  tp_moeda          119997 non-null  object
 16  valor_frete       119998 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 16.5+ MB

In [ ]:
# convert the dataframe to a dictionary
#data = df.to_dict(orient='records')

# insert the dictionary into the collection
#collection.insert_many(data)

In [98]:
collection = db["rotas_silver"]

In [99]:
rotas_silver= df_rotas_silver.to_dict(orient='records')

In [100]:
collection.insert_many(rotas_silver)

In [101]:
df_rotas_silver.to_csv('rotas_silver.csv')