In [1]:
import pandas as pd
import numpy as np
import requests
pd.options.display.max_columns=50

In [2]:
import pymongo
from pymongo import MongoClient

In [3]:
#chave API maps
google_maps_key = "AIzaSyCcmEV9PfHNtB_PGPEiYpZZQSQJaKjsV0A"

In [4]:
# conexão MongoDB
client = MongoClient('mongodb+srv://jehtinoco:TI10co29**@clusterjessica.ejf02eq.mongodb.net/test')

In [5]:
# conexão database MongoDB
db=client["dev_roteirizacao"]

### LANDING ZONE

In [ ]:
# caminho das bases .csv 
base_rotas=r"C:\Users\jetin\Documents\FATEC\6° Semestre\Bases 6° semestre\Rotas.csv"
base_fabricas=r"C:\Users\jetin\Documents\FATEC\6° Semestre\Bases 6° semestre\Fabricas.csv"
base_clientes=r"C:\Users\jetin\Documents\FATEC\6° Semestre\Bases 6° semestre\Clientes.csv"

In [ ]:
# dicionário de tipos
dict_type_rotas={'Mes.Base':str,
                 'Ano.Exec':str,
                 'CO.Fabrica':str,
                 'CO.Cliente':str,
                 'Tp.Operacao':str,
                 'Incoterm':str,
                 'Veiculo':str,
                 'Qtd.Transp':int,
                 'Moeda':str,
                 'Vlr.Frete':float }

dict_type_fabricas={'CO.Fabrica':str,
                    'NO_MUN':str,
                    'NO_MUN_MIN':str,
                    'SG_UF':str,
                    'LAT':str,
                    'LONG':str }

dict_type_clientes={'CO.Cliente':str,
                    'MUN':str,
                    'LAT':str,
                    'LONG':str }

In [ ]:
# lendo as bases csv
df_rotas=pd.read_csv(base_rotas, sep=",", dtype=dict_type_rotas)

In [ ]:
df_fabricas=pd.read_csv(base_fabricas, sep=",", dtype=dict_type_fabricas)

In [ ]:
df_clientes=pd.read_csv(base_clientes, sep=",", dtype=dict_type_clientes)

### BRONZE

In [ ]:
# renomeando as bases
dict_rename_rotas={'Dt.Fatura':'data_faturamento',
                   'Dt.Entrega':'data_entrega',
                   'Mes.Base':'mes',
                   'Ano.Exec':'ano',
                   'CO.Fabrica':'cod_fabrica',
                   'CO.Cliente':'cod_cliente',
                   'Tp.Operacao':'tipo_operacao',
                   'Incoterm':'incoterm',
                   'Veiculo':'veiculo',
                   'Qtd.Transp':'qtd_transportada',
                   'Moeda':'moeda',
                   'Vlr.Frete':'valor_frete' }

dict_rename_fabricas={'CO.Fabrica':'cod_fabrica',
                      'NO_MUN':'mun_fabrica',
                      'NO_MUN_MIN':'mun_fabrica_min',
                      'SG_UF':'uf_fabrica',
                      'LAT':'lat_fabrica',
                      'LONG':'long_fabrica'  }

dict_rename_clientes={'CO.Cliente':'cod_cliente',
                      'MUN':'mun_cliente',
                      'LAT':'lat_cliente',
                      'LONG':'long_cliente' }

In [ ]:
# renomeando as bases
df_rotas=df_rotas.rename(columns=dict_rename_rotas)
df_fabricas=df_fabricas.rename(columns=dict_rename_fabricas)
df_clientes=df_clientes.rename(columns=dict_rename_clientes)

In [ ]:
# mudando tipo data
df_rotas['data_faturamento'] = pd.to_datetime(df_rotas['data_faturamento'], format='%d/%m/%Y')
df_rotas['data_entrega'] = pd.to_datetime(df_rotas['data_entrega'], format='%d/%m/%Y')

In [ ]:
# gravando bronze no MongoDB
collection = db["rotas_bronze"]
rotas_bronze= df_rotas.to_dict(orient='records')
collection.insert_many(rotas_bronze)

In [ ]:
# gravando bronze no MongoDB
collection = db["fabricas_bronze"]
fabricas_bronze= df_fabricas.to_dict(orient='records')
collection.insert_many(fabricas_bronze)

In [ ]:
# gravando bronze no MongoDB
collection = db["clientes_bronze"]
clientes_bronze= df_clientes.to_dict(orient='records')
collection.insert_many(clientes_bronze)

### SILVER

In [6]:
#chamando as collections no MongoDB
coll_rotas=db["rotas_bronze"]
coll_clientes=db["clientes_bronze"]
coll_fabricas=db["fabricas_bronze"]

In [7]:
# pipeline para escolha dos campos para base silver
pipe_rotas = [{'$project':{'_id':0, 
                           'data_faturamento':1,
                           'data_entrega':1,
                           'mes':1,
                           'ano':1,
                           'cod_fabrica':1,
                           'cod_cliente':1,
                           'tipo_operacao':1,
                           'incoterm':1,
                           'veiculo':1,
                           'qtd_transportada':1,
                           'moeda':1,
                           'valor_frete':1 }}]

pipe_fabricas = [{'$project':{'_id':0, 
                              'cod_fabrica':1,
                              'mun_fabrica':1,                              
                              'lat_fabrica':1,
                              'long_fabrica':1 }}]

pipe_clientes = [{'$project':{'_id':0,
                              'cod_cliente':1,
                              'mun_cliente':1,
                              'lat_cliente':1,
                              'long_cliente':1  }}]

In [8]:
# guardando em um cursor
cursor_rotas=coll_rotas.aggregate(pipe_rotas)
cursor_fabricas=coll_fabricas.aggregate(pipe_fabricas)
cursor_clientes=coll_clientes.aggregate(pipe_clientes)

In [9]:
# guardando em listas
list_rotas=list(cursor_rotas)
list_fabricas=list(cursor_fabricas)
list_clientes=list(cursor_clientes)

In [10]:
# guardando em dataframes
df_rotas=pd.DataFrame(list_rotas)
df_fabricas=pd.DataFrame(list_fabricas)
df_clientes=pd.DataFrame(list_clientes)

In [11]:
# enriquecimento da base rotas com a clientes e fabricas
df_merge=pd.merge(pd.merge(df_rotas, df_clientes, how="outer", on="cod_cliente"), df_fabricas, how="outer", on="cod_fabrica")

In [12]:
# realocação das colunas
df_merge.insert(11,'cod_cliente', df_merge.pop('cod_cliente'))
df_merge.insert(14,'cod_fabrica', df_merge.pop('cod_fabrica'))

In [13]:
# criando quantidade transportada em valor absoluto e string
df_merge['qtd_transportada_abs']= abs(df_merge['qtd_transportada'])
df_merge['qtd_transportada_abs_str'] = df_merge['qtd_transportada_abs'].astype(str)

In [14]:
# criando valor frete string
df_merge['valor_frete_str'] = df_merge['valor_frete'].astype(str)

In [15]:
# concatenando strings e criando cod-nome e rota (fabrica-cliente) 
df_merge['cod_mun_cliente']=df_merge['cod_cliente']+' - '+df_merge['mun_cliente']
df_merge['cod_mun_fabrica']=df_merge['cod_fabrica']+' - '+df_merge['mun_fabrica']
df_merge['rota']=df_merge['mun_fabrica']+' - '+df_merge['mun_cliente']

In [16]:
# concatenando strings e criando lat-long das fabricas e clientes
df_merge['loc_cliente']=df_merge['lat_cliente']+','+df_merge['long_cliente']
df_merge['loc_fabrica']=df_merge['lat_fabrica']+','+df_merge['long_fabrica']

In [17]:
# criação de um dataframe de rotas com lat-long da origem-destino
df_rota_lat_long=df_merge[['rota', 'loc_cliente', 'loc_fabrica']].drop_duplicates().reset_index(drop=True)

In [18]:
df_rota_lat_long

                          rota          loc_cliente               loc_fabrica
0         JACAREI - PIRACICABA  -22.74145,-47.60181  -23.28713588,-45.9849763
1          JACAREI - SAO PAULO  -23.46722,-46.58475  -23.28713588,-45.9849763
2          JACAREI - SAO PAULO  -23.48552,-46.73883  -23.28713588,-45.9849763
3          JACAREI - SAO PAULO   -23.54149,-46.7306  -23.28713588,-45.9849763
4           JACAREI - CAMPINAS  -22.82307,-47.07818  -23.28713588,-45.9849763
..                         ...                  ...                       ...
124              ITU - TAUBATE  -22.99756,-45.54006  -23.25178418,-47.3439079
125            ITU - SAO PAULO  -23.53466,-46.71295  -23.25178418,-47.3439079
126  ITU - SANTANA DE PARNAIBA  -23.46668,-46.84622  -23.25178418,-47.3439079
127           ITU - SAO CARLOS  -22.03848,-47.86018  -23.25178418,-47.3439079
128           ITU - SAO CARLOS   -22.0445,-47.88998  -23.25178418,-47.3439079

[129 rows x 3 columns]

In [19]:
# consulta na API Google para calcular a distância e tempo das rotas

def get_route_info(origin, destination, google_maps_key):
    url = 'https://maps.googleapis.com/maps/api/directions/json'
    params = {
        'origin': origin,
        'destination': destination,
        'key': google_maps_key
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        route = response.json()['routes'][0]['legs'][0]
        distance = route['distance']['value'] / 1000.0
        duration = route['duration']['value'] / 60.0
        return distance, duration
    else:
        return None, None

In [20]:
# criação de listas vazias de distancia e tempo para API preencher
distances = []
durations = []

In [21]:
%%time

# consulta linha a linha do dataframe de rotas
for index, row in df_rota_lat_long.iterrows():
    origin = row['loc_fabrica']
    destination = row['loc_cliente']
    distance, duration = get_route_info(origin, destination, google_maps_key)
    distances.append(distance)
    durations.append(duration)

CPU times: total: 7.84 s
Wall time: 50.6 s

In [22]:
# criação das colunas quilometragem e tempo de viagem
df_rota_lat_long['quilometragem'] = distances
df_rota_lat_long['tempo_viagem_min'] = durations

In [23]:
df_rota_lat_long.head()

,rota,loc_cliente,loc_fabrica,quilometragem,tempo_viagem_min
0,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667
1,JACAREI - SAO PAULO,"-23.46722,-46.58475","-23.28713588,-45.9849763",74.053,68.866667
2,JACAREI - SAO PAULO,"-23.48552,-46.73883","-23.28713588,-45.9849763",90.077,82.133333
3,JACAREI - SAO PAULO,"-23.54149,-46.7306","-23.28713588,-45.9849763",92.924,84.516667
4,JACAREI - CAMPINAS,"-22.82307,-47.07818","-23.28713588,-45.9849763",146.175,108.900000

In [24]:
# merge entre o dataframe com quilometragem e tempo de vaigame com a base rotas enriquecida
df_rotas_silver=pd.merge(df_merge, df_rota_lat_long, how="left", on=['rota','loc_cliente','loc_fabrica'])

In [25]:
df_rotas_silver.head()

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,moeda,valor_frete,cod_cliente,mun_cliente,lat_cliente,long_cliente,cod_fabrica,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,qtd_transportada_abs_str,valor_frete_str,cod_mun_cliente,cod_mun_fabrica,rota,loc_cliente,loc_fabrica,quilometragem,tempo_viagem_min
0,2021-01-15,2021-01-17,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667
1,2021-01-02,2021-01-05,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667
2,2021-01-01,2021-01-05,Jan,2021,VD,FOB,P12,1800,BRL,691.2,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1800,1800,691.2,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667
3,2021-01-12,2021-01-15,Jan,2021,VD,CIF,P12,1600,BRL,720.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,720.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667
4,2021-01-16,2021-01-19,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667

#### VALIDADOR
##### Silver OK e Silver NOK

In [26]:
# regra de data de faturamento < data de entrega (se false, data inconsistente)
df_rotas_silver['flag_dt_consist']=df_rotas_silver["data_faturamento"]<df_rotas_silver["data_entrega"]

In [27]:
df_rotas_silver.head()

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,moeda,valor_frete,cod_cliente,mun_cliente,lat_cliente,long_cliente,cod_fabrica,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,qtd_transportada_abs_str,valor_frete_str,cod_mun_cliente,cod_mun_fabrica,rota,loc_cliente,loc_fabrica,quilometragem,tempo_viagem_min,flag_dt_consist
0,2021-01-15,2021-01-17,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True
1,2021-01-02,2021-01-05,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True
2,2021-01-01,2021-01-05,Jan,2021,VD,FOB,P12,1800,BRL,691.2,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1800,1800,691.2,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True
3,2021-01-12,2021-01-15,Jan,2021,VD,CIF,P12,1600,BRL,720.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,720.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True
4,2021-01-16,2021-01-19,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True

In [45]:
# contagem da flag de inconsistência de data 
df_rotas_silver['flag_dt_consist'].value_counts()

True    119186
Name: flag_dt_consist, dtype: int64

In [52]:
# gravando em um dataframe as inconsistências para análise
df_dt_inconsit = df_rotas_silver.loc[~df_rotas_silver['flag_dt_consist']]

In [53]:
# separação das colunas utilizadas para análise
df_dt_inconsit = df_dt_inconsit[['data_faturamento', 'data_entrega', 'mes', 'ano' ]]

In [54]:
df_dt_inconsit.head()

Empty DataFrame
Columns: [data_faturamento, data_entrega, mes, ano]
Index: []

In [28]:
# regra de data de FOB != 0 (se false, FOB com valor > 0)
df_rotas_silver.loc[(df_rotas_silver['incoterm']=='FOB') & (df_rotas_silver['valor_frete'] > 0), 'flag_incoterm_valor_consist'] = False
df_rotas_silver['flag_incoterm_valor_consist'].fillna(True, inplace=True)

In [29]:
# contagem da flag de inconsistência FOB
df_rotas_silver['flag_incoterm_valor_consist'].value_counts()

True     110743
False      8443
Name: flag_incoterm_valor_consist, dtype: int64

In [30]:
# gravando em um dataframe as inconsistências para análise
df_incoterm_inconsit = df_rotas_silver.loc[~df_rotas_silver['flag_incoterm_valor_consist']]

In [31]:
# separação das colunas utilizadas para análise
df_incoterm_inconsit = df_incoterm_inconsit[['incoterm', 'valor_frete', 'flag_incoterm_valor_consist' ]]

In [32]:
df_incoterm_inconsit.head()

  incoterm  valor_frete  flag_incoterm_valor_consist
0      FOB        800.0                        False
1      FOB        800.0                        False
2      FOB        691.2                        False
4      FOB        800.0                        False
5      FOB        691.2                        False

In [33]:
# valores encontrados dentro das inconsistências
df_incoterm_inconsit['valor_frete'].unique()

array([ 800. ,  691.2,  700. ,  720. ,  480. ,  500. ,  560. ,  450. ,
        512. ,  460.8,  448. ,  576. ,  600. ,  640. ,  518.4, 1000. ,
        900. ,  896. ,  921.6,  960. , 1120. ,  400. ,  384. ,  350. ,
        345.6,  360. ,  432. ,  768. ,  806.4])

In [34]:
# concatenando strings e criando uma coluna rota-tipo_operação-incoterm-qtd_transportada-valor_frete
df_rotas_silver['rota_qtd_valor']=df_rotas_silver['rota'] +' - '+ df_rotas_silver['tipo_operacao'] +' - '+ df_rotas_silver['incoterm'] +' - '+ df_rotas_silver['qtd_transportada_abs_str'] +' - '+ df_rotas_silver['valor_frete_str']

In [35]:
df_rotas_silver.head(2)

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,moeda,valor_frete,cod_cliente,mun_cliente,lat_cliente,long_cliente,cod_fabrica,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,qtd_transportada_abs_str,valor_frete_str,cod_mun_cliente,cod_mun_fabrica,rota,loc_cliente,loc_fabrica,quilometragem,tempo_viagem_min,flag_dt_consist,flag_incoterm_valor_consist,rota_qtd_valor
0,2021-01-15,2021-01-17,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0
1,2021-01-02,2021-01-05,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0

In [36]:
# salvando uma rota em um novo datafram para verificação
df_JCR_SP = df_rotas_silver.loc[df_rotas_silver["rota"]=='JACAREI - SAO PAULO', 'rota_qtd_valor']

In [39]:
df_JCR_SP.head()

1935    JACAREI - SAO PAULO - VD - FOB - 1600 - 0.0
1936    JACAREI - SAO PAULO - VD - FOB - 1800 - 0.0
1937    JACAREI - SAO PAULO - VD - FOB - 1600 - 0.0
1938    JACAREI - SAO PAULO - VD - FOB - 1600 - 0.0
1939    JACAREI - SAO PAULO - VD - FOB - 1600 - 0.0
Name: rota_qtd_valor, dtype: object

In [42]:
# verificando as rotas Jacareí - São Paulo 
df_JCR_SP.value_counts()

JACAREI - SAO PAULO - VD - FOB - 1600 - 0.0       2313
JACAREI - SAO PAULO - VD - FOB - 1800 - 0.0       1151
JACAREI - SAO PAULO - DV - FOB - 1600 - 0.0        984
JACAREI - SAO PAULO - VD - FOB - 2800 - 0.0        747
JACAREI - SAO PAULO - VD - FOB - 2400 - 0.0        745
JACAREI - SAO PAULO - VD - FOB - 3000 - 0.0        733
JACAREI - SAO PAULO - DV - FOB - 1800 - 0.0        505
JACAREI - SAO PAULO - VD - CIF - 1600 - 342.86     383
JACAREI - SAO PAULO - DV - FOB - 3000 - 0.0        344
JACAREI - SAO PAULO - DV - FOB - 2400 - 0.0        304
JACAREI - SAO PAULO - VD - CIF - 1600 - 274.29     283
JACAREI - SAO PAULO - DV - FOB - 2800 - 0.0        283
JACAREI - SAO PAULO - DV - CIF - 1600 - 342.86     180
JACAREI - SAO PAULO - VD - CIF - 1800 - 271.55     147
JACAREI - SAO PAULO - DV - CIF - 1600 - 274.29     134
JACAREI - SAO PAULO - VD - CIF - 2400 - 283.89     118
JACAREI - SAO PAULO - VD - CIF - 1800 - 377.15     104
JACAREI - SAO PAULO - VD - CIF - 3000 - 277.72      87
JACAREI - SAO PAULO - VD - CIF - 1800 - 301.72      82
JACAREI - SAO PAULO - VD - CIF - 2800 - 266.61      79
JACAREI - SAO PAULO - VD - CIF - 2800 - 329.15      76
JACAREI - SAO PAULO - VD - CIF - 3000 - 308.58      73
JACAREI - SAO PAULO - DV - CIF - 2400 - 283.89      67
JACAREI - SAO PAULO - DV - CIF - 1800 - 271.55      66
JACAREI - SAO PAULO - DV - CIF - 1800 - 377.15      56
JACAREI - SAO PAULO - VD - CIF - 2400 - 315.43      51
JACAREI - SAO PAULO - DV - CIF - 1800 - 301.72      48
JACAREI - SAO PAULO - VD - CIF - 3000 - 347.15      43
JACAREI - SAO PAULO - VD - CIF - 2800 - 296.23      42
JACAREI - SAO PAULO - DV - CIF - 3000 - 277.72      38
JACAREI - SAO PAULO - DV - CIF - 2800 - 266.61      36
JACAREI - SAO PAULO - DV - CIF - 2400 - 315.43      32
JACAREI - SAO PAULO - DV - CIF - 2800 - 329.15      31
JACAREI - SAO PAULO - DV - CIF - 3000 - 308.58      30
JACAREI - SAO PAULO - DV - CIF - 2800 - 296.23      24
JACAREI - SAO PAULO - DV - CIF - 3000 - 347.15      12
JACAREI - SAO PAULO - VD - CIF - 3000 - 342.86       3
JACAREI - SAO PAULO - VD - CIF - 2800 - 411.43       3
JACAREI - SAO PAULO - VD - CIF - 2400 - 394.29       3
JACAREI - SAO PAULO - DV - CIF - 2400 - 394.29       2
JACAREI - SAO PAULO - VD - CIF - 1600 - 246.86       2
JACAREI - SAO PAULO - DV - CIF - 3000 - 342.86       1
JACAREI - SAO PAULO - DV - CIF - 1600 - 246.86       1
JACAREI - SAO PAULO - DV - CIF - 1800 - 244.39       1
Name: rota_qtd_valor, dtype: int64

In [56]:
# gravando SILVER NOK no MongoDB ( df_dt_inconsit )
collection = db["dt_inconsit_silver_nok"]
dt_inconsit_silver_nok= df_dt_inconsit.to_dict(orient='records')
collection.insert_many(dt_inconsit_silver_nok)

TypeError: documents must be a non-empty list

In [57]:
# gravando SILVER NOK no MongoDB ( df_incoterm_inconsit )
collection = db["incoterm_inconsit_silver_nok"]
incoterm_inconsit_silver_nok= df_incoterm_inconsit.to_dict(orient='records')
collection.insert_many(incoterm_inconsit_silver_nok)

In [59]:
df_rotas_silver

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,moeda,valor_frete,cod_cliente,mun_cliente,lat_cliente,long_cliente,cod_fabrica,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,qtd_transportada_abs_str,valor_frete_str,cod_mun_cliente,cod_mun_fabrica,rota,loc_cliente,loc_fabrica,quilometragem,tempo_viagem_min,flag_dt_consist,flag_incoterm_valor_consist,rota_qtd_valor
0,2021-01-15,2021-01-17,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0
1,2021-01-02,2021-01-05,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0
2,2021-01-01,2021-01-05,Jan,2021,VD,FOB,P12,1800,BRL,691.2,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1800,1800,691.2,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1800 - 691.2
3,2021-01-12,2021-01-15,Jan,2021,VD,CIF,P12,1600,BRL,720.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,720.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True,True,JACAREI - PIRACICABA - VD - CIF - 1600 - 720.0
4,2021-01-16,2021-01-19,Jan,2021,VD,FOB,P12,1600,BRL,800.0,2311,PIRACICABA,-22.74145,-47.60181,3424402,JACAREI,-23.28713588,-45.9849763,1600,1600,800.0,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,"-22.74145,-47.60181","-23.28713588,-45.9849763",207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119181,2021-12-09,2021-12-14,Dez,2021,VD,FOB,P12,1800,BRL,0.0,2336,SAO CARLOS,-22.0445,-47.88998,3423909,ITU,-23.25178418,-47.3439079,1800,1800,0.0,2336 - SAO CARLOS,3423909 - ITU,ITU - SAO CARLOS,"-22.0445,-47.88998","-23.25178418,-47.3439079",168.828,130.100000,True,True,ITU - SAO CARLOS - VD - FOB - 1800 - 0.0
119182,2021-12-04,2021-12-08,Dez,2021,DV,CIF,P12,-1600,BRL,576.0,2336,SAO CARLOS,-22.0445,-47.88998,3423909,ITU,-23.25178418,-47.3439079,1600,1600,576.0,2336 - SAO CARLOS,3423909 - ITU,ITU - SAO CARLOS,"-22.0445,-47.88998","-23.25178418,-47.3439079",168.828,130.100000,True,True,ITU - SAO CARLOS - DV - CIF - 1600 - 576.0
119183,2021-12-27,2021-12-31,Dez,2021,DV,CIF,P12,-1600,BRL,576.0,2336,SAO CARLOS,-22.0445,-47.88998,3423909,ITU,-23.25178418,-47.3439079,1600,1600,576.0,2336 - SAO CARLOS,3423909 - ITU,ITU - SAO CARLOS,"-22.0445,-47.88998","-23.25178418,-47.3439079",168.828,130.100000,True,True,ITU - SAO CARLOS - DV - CIF - 1600 - 576.0
119184,2021-12-07,2021-12-09,Dez,2021,DV,CIF,P12,-1600,BRL,576.0,2336,SAO CARLOS,-22.0445,-47.88998,3423909,ITU,-23.25178418,-47.3439079,1600,1600,576.0,2336 - SAO CARLOS,3423909 - ITU,ITU - SAO CARLOS,"-22.0445,-47.88998","-23.25178418,-47.3439079",168.828,130.100000,True,True,ITU - SAO CARLOS - DV - CIF - 1600 - 576.0
119185,2021-12-08,2021-12-11,Dez,2021,DV,CIF,P12,-1600,BRL,576.0,2336,SAO CARLOS,-22.0445,-47.88998,3423909,ITU,-23.25178418,-47.3439079,1600,1600,576.0,2336 - SAO CARLOS,3423909 - ITU,ITU - SAO CARLOS,"-22.0445,-47.88998","-23.25178418,-47.3439079",168.828,130.100000,True,True,ITU - SAO CARLOS - DV - CIF - 1600 - 576.0

In [62]:
# gravando SILVER OK no MongoDB
collection = db['rotas_silver']
rotas_silver= df_rotas_silver.to_dict(orient='records')
collection.insert_many(rotas_silver)

AutoReconnect: ac-edtuvau-shard-00-01.ejf02eq.mongodb.net:27017:

In [64]:
df_rotas_silver.to_csv('rotas_silver_ok.csv', index=False)

### GOLD

In [65]:
#chamando as collections no MongoDB
coll_rotas_ok=db['rotas_silver']

In [69]:
# pipeline para escolha dos campos para base silver
pipe_rotas_ok = [{'$project':{'_id':0, 
                              'data_faturamento':1,
                              'data_entrega':1,
                              'mes':1,
                              'ano':1,
                              'tipo_operacao':1,
                              'incoterm':1,
                              'veiculo':1,
                              'qtd_transportada':1,
                              'valor_frete':1, 
                              'mun_cliente':1,
                              'lat_cliente':1,
                              'long_cliente':1,
                              'mun_fabrica':1,
                              'lat_fabrica':1,                     
                              'long_fabrica':1,                
                              'qtd_transportada_abs':1,         
                              'cod_mun_cliente':1,                     
                              'cod_mun_fabrica':1,                             
                              'rota':1,                           
                              'quilometragem':1,
                              'tempo_viagem_min':1,
                              'flag_dt_consist':1,                 
                              'flag_incoterm_valor_consist':1,                            
                              'rota_qtd_valor':1 }}]

In [70]:
# guardando em um cursor
cursor_rotas_ok=coll_rotas_ok.aggregate(pipe_rotas_ok)

In [71]:
# guardando em lista
list_rotas_ok=list(cursor_rotas_ok)

In [72]:
# guardando em dataframe
df_rotas_ok=pd.DataFrame(list_rotas_ok)

In [77]:
df_rotas_ok.head(2)

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,valor_frete,mun_cliente,lat_cliente,long_cliente,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,cod_mun_cliente,cod_mun_fabrica,rota,quilometragem,tempo_viagem_min,flag_dt_consist,flag_incoterm_valor_consist,rota_qtd_valor,custo/km,custo/tempo_min
0,2021-01-15,2021-01-17,Jan,2021,VD,FOB,P12,1600,800.0,PIRACICABA,-22.74145,-47.60181,JACAREI,-23.287136,-45.984976,1600,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0,3.861638,5.334519
1,2021-01-02,2021-01-05,Jan,2021,VD,FOB,P12,1600,800.0,PIRACICABA,-22.74145,-47.60181,JACAREI,-23.287136,-45.984976,1600,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0,3.861638,5.334519

In [75]:
df_rotas_ok['custo/km']=df_rotas_ok['valor_frete']/df_rotas_ok['quilometragem']

In [76]:
df_rotas_ok['custo/tempo_min']=df_rotas_ok['valor_frete']/df_rotas_ok['tempo_viagem_min']

In [79]:
df_rotas_ok['custo/unid']=df_rotas_ok['valor_frete']/df_rotas_ok['qtd_transportada_abs']

In [80]:
df_rotas_ok.head(2)

,data_faturamento,data_entrega,mes,ano,tipo_operacao,incoterm,veiculo,qtd_transportada,valor_frete,mun_cliente,lat_cliente,long_cliente,mun_fabrica,lat_fabrica,long_fabrica,qtd_transportada_abs,cod_mun_cliente,cod_mun_fabrica,rota,quilometragem,tempo_viagem_min,flag_dt_consist,flag_incoterm_valor_consist,rota_qtd_valor,custo/km,custo/tempo_min,custo/unid
0,2021-01-15,2021-01-17,Jan,2021,VD,FOB,P12,1600,800.0,PIRACICABA,-22.74145,-47.60181,JACAREI,-23.287136,-45.984976,1600,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0,3.861638,5.334519,0.5
1,2021-01-02,2021-01-05,Jan,2021,VD,FOB,P12,1600,800.0,PIRACICABA,-22.74145,-47.60181,JACAREI,-23.287136,-45.984976,1600,2311 - PIRACICABA,3424402 - JACAREI,JACAREI - PIRACICABA,207.166,149.966667,True,False,JACAREI - PIRACICABA - VD - FOB - 1600 - 800.0,3.861638,5.334519,0.5

In [81]:
df_rotas_ok.to_csv('rotas_gold.csv', index=False)

In [ ]:
df_rotas_final

In [ ]:
df_rotas_silver.to_csv('rotas_silver.csv')

In [ ]:
# gravando bronze no MongoDB
collection = db["rotas_silver"]
rotas_silver= df_rotas_final.to_dict(orient='records')
collection.insert_many(rotas_silver)